body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  height:470px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:470px;
}
#u1 {
  position:absolute;
  left:2px;
  top:227px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:32px;
  width:121px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:30px;
  top:72px;
  width:73px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:114px;
  top:140px;
  width:75px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:114px;
  top:70px;
  width:157px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:29px;
  top:270px;
  width:110px;
  height:40px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:30px;
  top:107px;
  width:73px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:114px;
  top:105px;
  width:157px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:29px;
  top:187px;
  width:73px;
  height:22px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:113px;
  top:185px;
  width:157px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:29px;
  top:222px;
  width:73px;
  height:22px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:113px;
  top:220px;
  width:157px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:29px;
  top:333px;
  width:126px;
  height:64px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:64px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:160px;
  top:270px;
  width:110px;
  height:40px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
