body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  height:470px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:470px;
}
#u1 {
  position:absolute;
  left:2px;
  top:227px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:102px;
  top:32px;
  width:97px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:29px;
  top:330px;
  width:241px;
  height:40px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:29px;
  top:70px;
  width:241px;
  height:70px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:70px;
}
#u6 {
  position:absolute;
  left:2px;
  top:27px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:37px;
  top:78px;
  width:173px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:37px;
  top:108px;
  width:85px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:30px;
  top:150px;
  width:241px;
  height:70px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:70px;
}
#u12 {
  position:absolute;
  left:2px;
  top:27px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:38px;
  top:158px;
  width:173px;
  height:22px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:38px;
  top:188px;
  width:85px;
  height:22px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:30px;
  top:230px;
  width:241px;
  height:70px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:70px;
}
#u18 {
  position:absolute;
  left:2px;
  top:27px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:38px;
  top:238px;
  width:173px;
  height:22px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:38px;
  top:268px;
  width:85px;
  height:22px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
